{
 "parserOptions": {
   "ecmaVersion": "2018"
 },
 "extends": [
   "react-app", "eslint-config-prettier", "plugin:flowtype/recommended"
 ],
 "rules": {
   "valid-typeof": "error", 
   "no-console": "off"
 },
 "env": {

   "browser": true
 },
 "plugins": [
   "flowtype"
 ]
}
