$color: red;
$fontStyle: italic;

.res {
  color: $color;
  font-style: $fontStyle;
}

.assert-item {
  font-size: 1.3rem;
  font-weight: bold;
}
.success {
  color: green;
}
.fail {
  color: red;
  text-decoration: line-through;
}

body {
  color: $color;
}

.box {
  width: 220px;
  height: 220px;
  margin: auto;
  // background: url(../img/im1.jpg) no-repeat;
  background-size: cover;
}
